<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>xpenny - demo minimal expense tracker</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui' />
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-status-bar-style' content='black' />
    <link rel='stylesheet' href='css/normalize.css'>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.min.css' type='text/css' />
    <!--    @TODO figure out if i want this and the css above-->
    <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='css/fontello.css'>
    <link rel='stylesheet' href='css/animation.css'>
    <link rel='stylesheet' href='css/main.min.css' type='text/css' />
    <script src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src='js/app.min.js'></script>
</head>

<body ng-app='xpenny'>
    <!--[if lt IE 8]>
            <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class='loading' ng-show='loading'>
        <div class='small-10 columns small-centered end text-center'>
            <p class='headertitle'>xpenny</p>
            <i class='icon-spin2 animate-spin'></i>
        </div>
    </div>
    <div id='container' ng-switch="activecard" ng-hide='loading' ng-controller="ExpenseCtrl" ng-cloak>
        <div class='row collapse'>
            <div class='small-6 columns'>
                <h1 class='headertitle'><i class='icon-dollar'></i>xpenny</h1>
            </div>

            <div class='small-6 columns text-right' ng-switch="user.loggedin">
                <a href='#' ng-click="activatecard('signup')" ng-switch-when="false" class='button tiny'><i class='icon-login'></i>Signup</a>
                <a href='#' ng-switch-when="true" ng-click="logoutUser()" class='button tiny'><i class='icon-logout'></i>Logout</a>
                <a href='#' ng-click="activatecard('login')" ng-switch-when="false" class='button tiny'><i class='icon-logout'></i>Login</a>
            </div>
        </div>

        <div class='row addexpensemainbutton hide'>
            <div class='small-5 small-centered columns'>
                <a href='#' class='button expand round' data-reveal-id="addExpense">
                    <i class='icon-plus-circled'></i>Add Expense</a>
            </div>
        </div>

        <div ng-switch-when="signup" class='signup'>
            <div class='row'>
                <div class='small-11 columns panel callout small-centered'>
                    <p class='aboutapp'>This is a little, mobile-first expense tracker I built on Laravel (PHP), Angular (JS), and Foundation (CSS).</p>
                </div>
            </div>

            <div class='row'>
                <h1 class='small-12 columns'>Signup</h1> 
            </div>
            <div class='row' ng-show="error.value">
                <div class='small-12 columns'>
                    <div data-alert class=" alert-box alert ">
                        {{error.message}}
                        <a href="# " class="close" ng-click='resetError();'>&times;</a>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='small-12 columns'>
                    <a class='little' href='#' ng-click="activatecard('login')"> I already have an account!</a>
                </div>
            </div>
            <form ng-submit="signupUser()">
                <div class='row'>
                    <div class='small-12 columns'>{{user}}
                        <input type='text' name='name' placeholder='First and Last Name' ng-model=user.name required />
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        <input type='email' name='email' placeholder='Email Address' ng-model=user.email required />
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        <input name='password' type='password' placeholder='Password' ng-model=user.password required />
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        <button type="submit" class='small-12 columns'>Signup</button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-switch-when='login' class='login'>
            <div class='row'>
                <div class='small-12 columns'>
                    <h1>Login</h1>
                </div>
            </div>
            <div class='row'>
                <div class='small-12 columns'>
                    <a class='little' href='#' ng-click="activatecard('signup')">I don't have an account yet!</a>
                </div>
            </div>
            <form ng-submit="loginUser()">

                <div class='row'>
                    <div class='small-12 columns'>
                        <input type='email' name='email' placeholder='Email Address' ng-model=user.email required />
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        <input name='password' type='password' placeholder='Password' ng-model=user.password required />
                    </div>
                </div>
                <div class='row'>
                    <div class='small-12 columns'>
                        <button type="submit" class='button small-12 columns'>Login</button>
                    </div>
                </div>
            </form>
        </div>
        <div class='addexpense editexpense reveal-modal' id="addExpense " data-reveal>
            <div class='row'>
                <div class='small-11 columns'>
                    <h2>Expense Details</h2>
                </div>
                <div class='small-1 columns'>
                    <!--                i like to keep this tucked away, ill prob never use it-->
                    <a class='' href='#'><i class='icon-trash'></i></a>
                </div>
            </div>

            <form>
                <div class='row'>
                    <div class='small-2 columns prefixcontainer'>
                        <span class='prefix'>$</span>
                    </div>
                    <div class='small-10 columns inputcontainer'>
                        <input type='number' step="0.01 " placeholder='0.00' />
                    </div>
                </div>
                <div class='row'>
                    <div class='small-12 columns'>
                        <input type='text' placeholder='Describe...' />
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        <input type='text' placeholder='Comment...' />
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        <input type='datetime-local' />
                    </div>
                </div>

                <div class='row'>
                    <div class='small-12 columns'>
                        <button class='small-6 columns'>Save</button>
                        <button class='small-6 columns'>Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-switch-when="home" class='home'>
            <div class='row sorting'>
                <div class='small-10 medium-3 columns '>
                    <p class=''>Sort:
                        <a class='active' href='#'>
                            <i class='icon-sort-alt-up'></i>
                            <i class='icon-sort-alt-down'></i>
                            Date
                        </a>

                        <a class='' href='#'>
                    Amount
                </a>
                    </p>
                </div>
            </div>

            <div class='row'>
                <div class='small-12 columns'>
                    <p class=''>Recent Expenses:</p>
                </div>
            </div>
            <div class='row'>
                <p class='small-4 small-centered columns text-center'>you haven't added anything yet!</p>
            </div>

            <div class='row'>
                <ul class='small-12 small-centered columns'>
                    <li class='expense clearfix'>
                        <div class='clearfix'>
                            <p class='expense menu edit right'>
                                <a href='#'>
                                    <i class='icon-edit'></i>
                                </a>
                            </p>
                        </div>
                        <div class='row'>
                            <p class='date small-12 columns'>June 21, 2013
                            </p>
                        </div>

                        <div class='row'>
                            <p class='amount small-4 columns'>$100,000</p>
                            <p class='description small-6 end columns'>I bought a house.I bought a house.I bought a house.
                            </p>
                        </div>
                        <div class='row'>
                            <p class='comment small-12 columns'>comment</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.7.1/angular-moment.min.js "></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-cookies.min.js "></script>
    <script src='//code.angularjs.org/1.2.18/angular-resource.min.js'></script>
</body>

</html>
