h1,
h2 {
    font-family: 'Love Ya Like A Sister', serif;
    margin: 0;
}
.headertitle {
    font-family: 'Love Ya Like A Sister', serif;
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
p {
    font-size: .8rem;
}
p.aboutapp {
    font-size: .7rem;
    color: #aaa;
}
.signup form,
.login form {
    margin-top: 15px;
}
p.aboutapp {
    padding: 15px 0;
    font-size: .9rem;
}
sorting p {
    font-size: .9rem;
    vertical-align: middle;
}
sorting a {
    margin-left: 10;
}
.expense {
    list-style-type: none;
}
li.expense {
    border-top: 1px solid #ddd;
    padding: 0 0
}
li.expense:last-child {
    border-bottom: 1px solid #ddd;
}
li.expense p {
    margin: 0;
}
.prefixcontainer {
    padding-right: 0;
}
.inputcontainer {
    padding-left: 0;
}
li.expense .menu.edit,
li.expense .menu.delete {
    height: 0;
}
.sort {
    font-size: .8rem;
}
.date {
    color: #000;
    font-size: .6rem;
}
.amount {
    color: #A7414F;
    font-size: 1.8rem;
    position: relative;
    opacity: .99;
}
.description {
    color: #000;
    font-size: .8rem;
}
li.expense p.comment {
    color: #A4846A;
    font-size: .7rem;
    margin-top: -.5rem;
}
input[type=search] {
    text-align: left;
}
.little {
    font-size: .7rem;
}
.hide {
    display: none;
}
.loading {
    position: absolute;
    width: 100%;
}
[class^="icon-spin"]:before {
    font-size: 12rem;
}
.loading .headertitle {
    font-size: 2.2rem;
    position: relative;
    color: #006400;
    top: 8.9rem;
    left: .2rem;
}
/*just for fun/example*/

.headertitle .icon-dollar:before {
    color: #006400;
    opacity: 0.8;
    -webkit-animation: rightMove 1s ease-in;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 2s;
}
@-webkit-keyframes rightMove {
    0% {
        margin-right: 0;
    }
    50% {
        margin-right: -20px;
    }
    100% {
        margin-right: -20px;
    }
}
p.recent {
    margin-bottom: 5px;
}