body {
    height: auto;
}
h1,
h2 {
    font-family: 'Love Ya Like A Sister', serif;
    margin: 0;
}
.headertitle {
    font-family: 'Love Ya Like A Sister', serif;
    font-size: 1rem;
}
h2 {
    font-size: 1.5rem;
}
#container {
    margin-top: 8rem;
}
p {
    font-size: .8rem;
}
p.aboutapp {
    font-size: .7rem;
    color: #aaa;
}
.signup form,
.login form {
    margin-top: 15px;
}
.home {} .addexpense {
    position: relative;
    top: -3rem;
}
.addexpensemainbutton {
    padding: 0;
    background: #fff;
    bottom: 0px;
    position: fixed;
    padding-top: 10px;
    border-top: 1px dotted #ccc;
}
.fixed {
    position: fixed;
}
.headbar {
    background: #fff;
    top: 0px;
}
p.aboutapp {
    padding: 15px 0;
    font-size: .9rem;
}
.sorting input {
    font-size: .7rem;
    margin-left: 3px;
}
.sorting p {
    font-size: .7rem;
    vertical-align: middle;
    opacity: .70;
    padding: 0;
}
.filtercontainer {
    padding: 0;
    margin-left: 0px;
}
.filterinput {} .sorting a {
    margin-left: 10;
}
ul.list {
    height: 50%;
    overflow: scroll !important;
}
.expense {
    list-style-type: none;
    height: auto;
}
li.expense {
    border-top: 1px solid #ddd;
    padding: 0 0
}
li.expense:last-child {
    border-bottom: 1px solid #ddd;
    margin-bottom: 5rem;
}
li.expense p {
    margin: 0;
}
.prefixcontainer {
    padding-right: 0;
}
.inputcontainer {
    padding-left: 0;
}
li.expense .menu.edit,
li.expense .menu.delete {
    height: 0;
}
.sorting {
    background: #fff;
    top: 3.5rem;
    padding-left: 1.9rem;
    font-size: .8rem;
    border-bottom: 1px solid #ddd;
}
.sorting .small-1 {
    text-align: center;
    font-size: 1rem;
    padding: .5rem 0rem;
}
.sorting .active {
    border-bottom: 2px solid #3a945b;
    border-top: 2px solid #fff;
}
.sorting.rev .active {
    border-top: 2px solid #3a945b;
    border-bottom: 2px solid #fff;
}
.date {
    color: #000;
    font-size: .6rem;
}
.amount,
p.totalSpent {
    color: #A7414F;
    font-size: 1.3rem;
    position: relative;
    opacity: .99;
}
.description {
    color: #000;
    font-size: 1.2rem;
    text-align: left;
    text-transform: capitalize;
}
li.expense p.comment {
    color: #A4846A;
    font-size: .7rem;
    margin-top: -.5rem;
}
.icon-edit {
    font-size: 2rem;
    position: relative;
    top: .5rem;
}
input[type=search] {
    text-align: left;
}
.little {
    font-size: .7rem;
}
.hide {
    display: none;
}
.loading {
    position: absolute;
    width: 100%;
}
.filter i {
    font-size: 1.5rem;
}
[class^="icon-spin"]:before {
    font-size: 12rem;
}
.loading .headertitle {
    font-size: 2.2rem;
    position: relative;
    color: #006400;
    top: 8.9rem;
    left: .2rem;
}
p.mb5 {
    margin-bottom: 5px;
}
p.mt10 {
    margin-top: 10px;
}
/*just for fun/example*/

.headertitle .icon-dollar:before {
    color: #006400;
    opacity: 0.8;
    /*
     -webkit-animation: rightMove 1s ease-in;
     -webkit-animation-fill-mode: forwards;
     -webkit-animation-delay: 2s;
     */
}
p.tagline {
    font-size: .5rem;
    color: #A4846A;
}
@-webkit-keyframes rightMove {
    0% {
        margin-right: 0;
    }
    50% {
        margin-right: -20px;
    }
    100% {
        margin-right: -20px;
    }
}